@model MES.Web.Model.GENERAL_SETTINGS
@{
    ViewData["Title"] = "Genel Ayarlar";
}

@section Styles
{
}


<div class="row">
    <div class="col-md-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Genel Ayarlar</h3>
            </div>
            <!-- form start -->
            <form role="form" id="formGeneralSettings" method="post" action="/Organization/GeneralSettings" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-group">
                        <label>Login Sayfa Arka Plan Resmi</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="image-input image-input-outline">
                                <div class="image-input-wrapper" style="background-image: url(@(Model.LOGIN_PAGE_BACKGROUND))"></div>
                            </div>
                            <span class="form-text text-muted">İzin Verilen Dosya Türleri: png, jpg, jpeg.</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="loginPageBackgroundFile" name="loginPageBackgroundFile" style="width:100%" />
                            <label class="custom-file-label" for="loginPageBackgroundFile">Arka Plan Resmi Yükle</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>LOGO</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="image-input image-input-outline">
                                <div class="image-input-wrapper" style="background-image: url(@(Model.LOGO))"></div>
                            </div>
                            <span class="form-text text-muted">İzin Verilen Dosya Türleri: png, jpg, jpeg.</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logoFile" name="logoFile" style="width:100%" />
                            <label class="custom-file-label" for="logoFile">Logo Yükle</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Login Sayfa İçerik</label>
                        @Html.TextBoxFor(m => m.LOGIN_PAGE_TEXT, new { @class = "form-control", @placeholder = "Username", @required = true, @id = "username" })
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="/Content/assets/js/pages/crud/file-upload/image-input.js"></script>
    <script type="text/javascript">
    </script>
}
